#title {
    font-size: 12vw;
    color: rgb(200, 116, 6);
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 221, 199);
    font-size: larger;
}

#listOptions {
    display: flex;
    flex-flow: row;
    align-items: end;
    margin: auto auto;
    width: 90%;
    aspect-ratio: 3.5/0.2
}

.taskList {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 6px, solid, burlywood;
    color: rgb(200, 116, 6);
    font-weight: bold;
    background-color: rgb(228, 202, 169);
    filter: brightness(90%);
    transition: all 0.3s;
    cursor: pointer;

    font-size: 1.5vw;
    border-bottom: 0px;
    width: 15%;
    aspect-ratio: 3.5/1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


.taskList.active {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 3vw;
    width: 20%;

    filter: brightness(100%);
}

#addList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;

    width: 50px;
    aspect-ratio: 1/1;
    margin-left: -2px;

    border-top-right-radius: 15px;
    border: 6px, solid, burlywood;
    border-bottom: 0px;
    border-left: 0px;
    background-color: rgb(228, 202, 169);

    cursor: pointer;
}

.material-symbols-outlined {
    color: rgb(200, 116, 6);
    font-weight: bolder;
    font-size: 50vw;

}

#listInputArea {
    display: flex;
    flex-flow: row;
    width: 90%;
    margin: auto auto;
    height: 120px;
}

#inputArea {
    height: inherit;
    transition: all 0.3s;
    width: 80%;
    font-size: 4.5vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 3px, solid, burlywood;
    background-color: rgb(237, 236, 236);
    padding-left: 10%;
}

#inputArea:focus {
    box-shadow: 0 0px 10px rgb(95, 95, 95);
    outline: none;
}

#add {
    height: inherit;
    margin-left: -10%;
    background-color: burlywood;
    font-size: 4vw;
    color: rgb(32, 32, 32);
    font-weight: bold;
    border: 2px, solid, burlywood;
    border-radius: 31px;
    width: 30%;
    cursor: pointer;
}

button {
    transition: all 0.3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.09);
    box-shadow: 0 0 10px rgb(77, 77, 77);
}

.task {
    display: flex;
    flex-flow: row;

    height: 100px;
    width: 90%;
    margin: 3% auto auto auto;
    justify-content: center;
    align-items: center;


    background-color: rgb(237, 236, 236);
    box-shadow: 0 0 20px #8f8f8e;
    border-radius: 10px;
    cursor: pointer;
}

.task-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 15%;
    height: 100%;

    font-size: 3rem;

}

.task-text {
    display: flex;
    align-items: center;
    padding-left: 7%;
    flex: 70%;
    height: 100%;

    font-size: 2.5rem;
    font-weight: bold;
}

.task-button-area {
    flex: 15%;
    height: 100%;

}

.task-button {
    border: 0px;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    background-color: rgb(151, 21, 14);
    color: rgb(219, 217, 217);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mdi-check-circle {
    color: rgb(66, 144, 66);
}

.done {
    background-color: #aedbb3;
    color: #8f8f8e;
    text-decoration: line-through;
}

.done .task-button {
    background-color: rgb(148, 82, 67);
}

@media (max-width: 600px) {
    h1 {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .task {
        height: 70px;
        font-size: 5vw;
    }

    .task-text,
    .task-icon,
    .task-button-area,
    .task-button {
        font-size: inherit;
    }

    header {
        height: 90px;
    }
}