#title {
    font-size: 12vw;
    color: rgb(200, 116, 6);
    height: 25vh;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
    align-items: start;
}

* {
    box-sizing: border-box;
    transition: all 0.5s;
}

body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 221, 199);
    font-size: larger;
}

#listOptions {
    display: flex;
    flex-flow: row;
    align-items: end;
    margin: auto auto;
    padding-left: 1vw;
    width: 90%;
    max-width: 90%;
    padding-right: 2%;
    aspect-ratio: 3.5/0.2
}

.taskList {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    border: 6px, solid, rgb(222, 184, 135);
    font-weight: bold;
    filter: brightness(90%);
    transition: all 0.3s;
    cursor: pointer;
    z-index: 1;

    font-size: 1.5vw;
    border-bottom: 0px;
    width: 15%;
    aspect-ratio: 3.5/1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.taskList input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 1.5vw;
    border-bottom: 0px;
    width: 15%;
    aspect-ratio: 3.5/1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background-color: inherit;
    border: 0px;
    height: 60%;
    width: 75%;
    border-radius: 5%;
    cursor: pointer;
}

.taskList.active {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 3vw;
    width: 20%;

    filter: brightness(100%);
}



.material-symbols-outlined {
    color: rgb(200, 116, 6);
    font-weight: bolder;
    font-size: 50vw;

}

#listInputArea {
    display: flex;
    flex-flow: row;
    width: 90%;
    margin: auto auto;
    height: 120px;
}

#inputArea {
    height: inherit;
    transition: all 0.3s;
    width: 80%;
    font-size: 4.5vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 6px, solid, burlywood;
    background-color: rgb(237, 236, 236);
    padding-left: 10%;
}

#inputArea:focus {
    box-shadow: 0 0px 10px rgb(95, 95, 95);
    outline: none;
}

#add {
    height: inherit;
    margin-left: -10%;
    background-color: burlywood;
    border: 2px, solid, burlywood;
    font-size: 4vw;
    color: rgb(32, 32, 32);
    font-weight: bold;

    border-radius: 31px;
    width: 30%;
    cursor: pointer;
}

button {
    transition: all 0.3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.09);
    box-shadow: 0 0 10px rgb(77, 77, 77);
}

.task {
    display: flex;
    flex-flow: row;

    height: 100px;
    width: 90%;
    margin: 3% auto auto auto;
    justify-content: center;
    align-items: center;


    background-color: rgb(237, 236, 236);
    box-shadow: 0 0 20px #8f8f8e;
    border-radius: 10px;
    cursor: pointer;
}

.task-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 15%;
    height: 100%;

    font-size: 3rem;

}

.task-text {
    display: flex;
    align-items: center;
    padding-left: 7%;
    flex: 70%;
    height: 100%;

    font-size: 2.5rem;
    font-weight: bold;
}

.task-button-area {
    flex: 15%;
    height: 100%;

}

.task-button {
    border: 0px;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    background-color: rgb(151, 21, 14);
    color: rgb(219, 217, 217);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mdi-check-circle {
    color: rgb(66, 144, 66);
}

.done {
    background-color: #aedbb3;
    color: #8f8f8e;
    text-decoration: line-through;
}

.done .task-button {
    background-color: rgb(148, 82, 67);
}

@media (max-width: 600px) {
    h1 {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .task {
        height: 70px;
        font-size: 5vw;
    }

    .task-text,
    .task-icon,
    .task-button-area,
    .task-button {
        font-size: inherit;
    }

    header {
        height: 90px;
    }
}

.colorPaletSelector {
    width: 1.5vw;
    height: 1.5vw;
    margin: 0.5vw;
    margin-top: 1vw;
    border: 3px, solid, black;
    background-color: inherit;
    filter: brightness(80%);
    z-index: 10000;
}


.colorOption {
    display: flex;
    flex-flow: column;


    width: fit-content;
    height: fit-content;
    padding: 0.1vw;
    padding-bottom: 0.3vw;
    position: relative;
    background-color: rgb(223, 223, 223);
    border: 6px solid rgb(163, 163, 163);
    border-radius: 15px;
    z-index: auto;
}

#addList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;

    width: 2.7vw;
    height: 2.7vw;
    aspect-ratio: 1 / 1;
    margin-left: -0.20vw;

    border-top-right-radius: 15px;
    border: 6px solid rgb(222, 184, 135);
    background-color: rgb(228, 202, 169);
    border-bottom: 0px;

    z-index: 10;

    cursor: pointer;
}

.colorPalet1 {

    color: rgb(200, 116, 6);
    border-color: rgb(222, 184, 135);
    background-color: rgb(228, 202, 169);
}

.colorPalet2 {
    color: rgb(6, 116, 200);
    border-color: rgb(199, 221, 238);
    background-color: rgb(169, 202, 228);
}

.colorPalet3 {
    color: rgb(6, 150, 75);
    border-color: rgb(199, 238, 221);
    background-color: rgb(169, 228, 202);
}

.colorPalet4 {
    color: rgb(200, 40, 6);
    border-color: rgb(238, 199, 199);
    background-color: rgb(228, 169, 169);
}

.colorPalet5 {
    color: rgb(116, 6, 200);
    border-color: rgb(221, 199, 238);
    background-color: rgb(202, 169, 228);
}

.colorPalet6 {
    color: rgb(80, 80, 80);
    border-color: rgb(220, 220, 220);
    background-color: rgb(180, 180, 180);
}